<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="styles02.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>index</title>
</head>

<body>

  <header class="header">Header</header>

  <nav>
    <button>home</button><button>projects</button><button>contact</button>
  </nav>

  <div class="flex-container"> <!-- using CSS flexbox -->
      <div>Content No 1</div>
      <div>Content No 2</div>
      <div>Content No 3</div>
  </div>

  <footer>Footer</footer>

</body>

</html>
